aiodns==2.0.0
aiohttp==3.5.4
appnope==0.1.0
APScheduler==3.5.3
astroid==2.0.4
async-timeout==3.0.1
attrs==19.1.0
autopep8==1.4.3
backcall==0.1.0
beautifulsoup4==4.6.1
bleach==3.1.0
bs4==0.0.1
cchardet==2.1.4
certifi==2018.4.16
cffi==1.12.2
chardet==3.0.4
Click==7.0
cssselect==1.0.3
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
django-bootstrap3==11.0.0
dukpy==0.2.0
echarts-china-cities-pypkg==0.0.8
echarts-china-counties-pypkg==0.0.2
echarts-china-misc-pypkg==0.0.1
echarts-china-provinces-pypkg==0.0.2
echarts-countries-pypkg==0.1.4
entrypoints==0.3
Flask==1.0.2
fpdf==1.7.2
future==0.16.0
idna==2.6
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itchat==1.3.10
itsdangerous==1.1.0
javascripthon==0.10
jedi==0.13.3
jieba==0.39
Jinja2==2.11.3
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lml==0.0.2
lxml==4.2.4
macropy3==1.1.0b2
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.4
multidict==4.5.2
nbconvert==5.5.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.15.0
opencv-python==3.4.2.17
pandocfilters==1.4.2
parso==0.4.0
pdfkit==0.6.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycares==3.0.0
pycodestyle==2.4.0
pycparser==2.19
pyecharts==0.5.9
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
Pygments==2.4.2
pylint==2.1.1
pymongo==3.8.0
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
PyPDF3==1.0.1
pypng==0.0.18
PyQRCode==1.2.1
pyquery==1.4.0
pyrsistent==0.15.2
python-dateutil==2.7.3
pytz==2018.5
pyzmq==18.0.1
qtconsole==4.5.1
reportlab==3.5.12
requests==2.18.4
selenium==3.14.0
Send2Trash==1.5.0
six==1.11.0
terminado==0.8.2
tesserocr==2.4.0
testpath==0.4.2
tornado==6.0.2
tqdm==4.32.1
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.22
virtualenv==16.2.0
wcwidth==0.1.7
webencodings==0.5.1
wechat==0.4.16
wechatsogou==4.2.2
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xlrd==1.1.0
yarl==1.3.0
